<!-- Main Content -->
<div class="container">
    <div class="row align-items-start">
        <div class="col">
            <div *ngIf="err" class="alert alert-danger">{{err.statusText}}</div>
            <div class="row">
                <ul class="list-group">
                    <li class="list-group-item" [ngClass]="{active: book.id === active?.id}" *ngFor="let book of books"
                        (click)="setActive(book)">
                        <img [src]="book.img ? book.img : '../../assets/img/kisspng.jpg'" class="img-thumnail mr-2" width="40">
                        {{book.id}} - {{book.title}} - {{book.author}}
                        <div class="pull-right">
                            € {{book.price | number:'1.2-2'}} <i class="fa fa-trash" (click)="delete($event, book)"
                                aria-hidden="true"></i>
                        </div>
                        
                    </li>
                </ul>
            </div>
        </div>
        <div class="col">
            <form #f="ngForm" (ngSubmit)="save(f)">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input [ngModel]="active?.title" type="text" class="form-control" name="title">
                </div>
                <div class="mb-3">
                    <label for="author" class="form-label">Autore</label>
                    <input [ngModel]="active?.author" type="text" class="form-control" name="author">
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input [ngModel]="active?.price" type="text" class="form-control" name="price">
                </div>
                <div class="mb-3">
                    <label for="isbn" class="form-label">ISBN</label>
                    <input [ngModel]="active?.isbn" type="text" class="form-control" name="isbn">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Descrizione</label><br>
                    <textarea [ngModel]="active?.description" name="description" cols="80" rows="4"></textarea>
                </div>
                <div class="form-group">
                    <input style="display: none;" #selectedFile type="file" class="form-control" name="img" (change)="readUrl($event)">
                </div>
                <div class="mb-3">
                    <img *ngIf="this.imgSrc" [src]="this.imgSrc" height="170" alt="" />
                    <button type="button" class="btn btn-primary" (click)="selectedFile.click()">Aggiungi immagine</button>
                </div>
                <input *ngIf="this.imgSrc" [(ngModel)]="this.imgSrc" type="hidden" name="img">
                <button type="submit" class="btn btn-outline-success">{{active ? 'EDIT' : 'ADD'}}</button>
                <button type="button" class="btn btn-outline-warning" (click)="reset(f)">RESET</button>
            </form>
        </div>
    </div>
</div>
<hr>