<!-- Main Content -->
<div class="container">
    <div class="row align-items-start">       
        <div class="col">           
            <div *ngIf="err" class="alert alert-danger">{{err.statusText}}</div>
            <app-spinner *ngIf="!books"></app-spinner>
            <div class="search-book">
                <input type="text" 
                class="form-control" 
                name="search" 
                [(ngModel)]="term" 
                autocomplete="off" placeholder="Cerca tramite titolo...">
            </div>          
            <div class="row">
                <ul class="list-group">
                    <li class="list-group-item" 
                    [ngClass]="{active: book.id === active?.id}" 
                    *ngFor="let book of books | paginate: {itemsPerPage: 2, currentPage: p} | filter:term"
                    (click)="setActive(book)">
                        <img [src]="book.img ? book.img : '../../assets/img/kisspng.jpg'" class="img-thumnail mr-2" width="40">
                        {{book.id}} - {{book.title}} - {{book.author}}
                        <div [ngClass]="book.price > 20 ? 'pull-right red' : 'pull-right'">
                            € {{book.price | number:'1.2-2'}} 
                            <i class="fa fa-info-circle ml-2" [routerLink]="['/book', book.id]" aria-hidden="true"></i>
                            <i class="fa fa-trash ml-2" (click)="delete($event, book)" aria-hidden="true"></i>
                        </div>
                        
                    </li>
                </ul>
                <pagination-controls (pageChange)="p=$event"></pagination-controls>
            </div>
        </div>
        <div class="col">
            <app-form
            [active]="active"
            [books]="books"
            (resetClick)="reset()"
            ></app-form>
        </div>
    </div>
</div>
<hr>